* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.header_title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.section_description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section_title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.header_text {
    max-width: 860px;
    margin: auto;
    text-align: center;
    padding-top: 0px;
}

.main_btn {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.team_features {
    display: flex;
    margin: 50px 100px;
}

.team_pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 85px;

}

.team_features_content {
    margin-left: 76px;
    margin-top: 202px;

}

.team_features_content .section_description {
    max-width: 530px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.section_title #quick_list {
    color: #727272;
    font-weight: 500;
}

#Features {
    color: #FF900E;
    font-weight: 700;
}

#of_our {
    color: #131313;
    font-weight: 700;
}

.more_feature_content {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 10px;
    max-width: 1920px;
}

.more_feature_content .section_title {
    border-left: 10px solid #FF900E;
    padding-left: 20px;
}

.more_feature_content .section_description {
    max-width: 580px;
    margin-top: 24px;
}

.feature_content_box {
    margin-bottom: 20px;
    max-width: 580px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

#Experience {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    color: #131313;
    position: relative;
    bottom: 150px;
    left: 700px;
}

.more_feature .main_btn {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    width: 342px;
    height: 200px;
    position: relative;
    bottom: 150px;
    left: 700px;
}

.ten-years {
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    height: 200px;
    position: relative;
    bottom: 200px;
    left: 45%;
}

.ten-years h2 {
    margin-bottom: 0px;
    padding-top: 46px;
    font-weight: 700;
}

.ten-years p {
    margin-top: 0px;
    font-size: 1.25rem;
}

.some_facts p {
    margin-top: 24px;
    max-width: 540px;
}

.some_facts h2 {
    margin-bottom: 0px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.cards_content {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    height: 242px;
    width: 242px;
    padding: 20px;
    padding-top: 80px;
}

.cards_content .section_title {
    margin-top: 10px;
    margin-bottom: 2px;
}

.sponsor {
    margin-top: 150px;
    text-align: center;
}

.sponsor p {
    margin-top: 24px;
    margin: auto;
    width: 540px;
    text-align: center;
}

.sponsor-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.foot {
    width: 75%;
    background: rgba(255, 144, 14, 0.10);
    margin: auto;
    height: 100px;
}

.foot p {
    text-align: center;
    color: #424242;
    font-size: 1.2rem;
    padding: 40px auto;
    position: relative;
    top: 45%;
    bottom: 50%;
}

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        margin: auto;
    }

    nav h2 {
        text-align: center;
    }

    .section_title {
        font-size: 1.8rem;
    }

    .header_title {
        font-size: 3rem;
    }

    .header_text .section_description {
        margin: 10px auto;
    }

    .team_features {
        flex-direction: column;
    }

    .team_pic {
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-left: 0px;
        /* width: 100%; */
/* height: 100%; */
    }

    .more_feature_content {
        flex-direction: column;
    }
}